<link rel="stylesheet" type="text/css" href="https://cdn.kde.org/breeze-icons/icons.css">
<div class="bg-light py-3 mb-3 border-bottom">
  <div class="container">
    <div class="d-flex">
      <a href="{{ site.baseurl }}/global/atom.xml/" class="btn btn-sm btn-warning ml-auto">
        <i class="icon icon_rss"></i>
      </a>
    </div>
    <div class="row col-md-10 mx-auto intro">
      <div class="col-auto">
        <img src="{{ site.baseurl }}/assets/img/planetkde.svg" alt="Planet KDE logo" style="min-width: 200px" />
      </div>
      <div class="col my-auto">
        <h2>Welcome to Planet KDE</h2>
        <h5>This is a feed aggregator that collects what the contributors to the <a href="https://kde.org">KDE community</a> are writing on their respective blogs</h5>
      </div>
      <div class="col-12 text-center mt-3">
        {% assign sorted = site.tags | sort %}
        {% for tag in sorted %}
          {% assign lang = site.data.language[tag.first] %}
          {% if tag.first == "en" %}
            <a class="mx-2" title="{{ lang.name }}" href="/">{{ lang.name }}</a>
          {% else %}
            <a class="mx-2" title="{{ lang.name }}" href="/{{ tag.first }}/">{{ lang.name }}</a>
          {% endif %}
        {% endfor %}
      </div>
      <div class="col-12 text-center mt-3">
        <a class="mx-2" title="Mastodon" href="https://mastodon.technology/@kde">Mastodon</a>
        <a class="mx-2" title="Reddit" href="https://reddit.com/r/kde">r/kde</a>
      </div>
    </div>
  </div>
</div>
<div class="container p-0">
  <div class="alert alert-info">To have your blog added to this aggregator, please read <a href="https://invent.kde.org/websites/planet-kde-org">the instructions</a>
  </div>
</div>
