---
layout: default
language: true
---
<link href="https://cdn.kde.org/breeze-icons/icons.css" rel="stylesheet">
<link href="https://cdn.kde.org/aether-devel/version/kde-org/applications.ed4d64fd.js" rel="stylesheet">

<div class="container my-4">
  {% for post in paginator.posts %}
  {% include calendar.html %}
  {% include single-post.html %}
  {% endfor %}
  {% include pagination.html %}
</div>
